<div class="d-flex align-items-center justify-content-center">
    <h1>Simple Wedding</h1>
</div>

<div class="d-flex align-items-center justify-content-center">
    <h2>Create your own wedding in one place, let it to be simple!</h2>
</div>